@import url('./reset.css');

/*
Este é o arquivo css principal do projeto.
Ele sera importado tanto pela solução padrão quanto pela solução personalizada.
*/
:root {
  --color-primary: #4b69fd;
  --color-secondary: #fff9eb;
  --color-tertiary: #c4c4c4;
  --color-button: #fe652b;
  --color-button-hover: #e55720;
  --color-text: #444444;
  --color-white: #ffffff;

  /* 
    Optei por esta abordagem para ajustar o height do body para que o rodapé fique sempre fixo no final da tela. 
    A outra abordagem seria fazer esse ajuste via javascript, mas achei mais interessante fazer isso via css. 
    Essa foi uma oportunidade de explorar recursos css que eu não conhecia. 
    E me adaptar a certas limitações do css, como a dificuldade de determinar a altura da tela, para calcular a altura do body.
    O resultado final não foi excelente, mas foi bom o suficiente.😎

     Rodapé adicionado para fins de teste e aprendizado, esta fora do escopo dos requisitos originais do projeto!
  */
  --height-footer: 90px; /* Fixando a altura do rodapé */
  --height-body-portrait: calc(100vh + var(--height-footer)*2); /* Ajusta a altura do body para que o rodapé não esconda o botão "Sortear Amigo". */
  --height-body-landscape: calc(100vw + var(--height-footer)); /* Ajusta a altura do body para que o rodapé não esconda o botão "Sortear Amigo". */

}

body {
  height: var(--height-body-portrait); /* Ajusta a altura do body para que o rodapé não esconda o botão "Sortear Amigo". */
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10% var(--height-footer);
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Banner */
.header-banner {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
  flex: 60%;
  background-color: var(--color-secondary);
  border: 1px solid #000;
  border-radius: 64px 64px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Títulos */
.main-title {
  font-size: 48px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}

.section-title {
  font-family: 'Inter', serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.button-container {
  width: 300px;
  justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: 'Merriweather', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
  padding: 15px 30px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-add {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-radius: 0 25px 25px 0;
}

.button-add:hover {
  background-color: #a1a1a1;
}

/* Listas */
ul {
  list-style-type: none;
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.result-list {
  margin-top: 15px;
  color: #05df05;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Botão de sortear título */
.button-draw {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
}

.button-draw img {
  margin-right: 40px;
}

.button-draw:hover {
  background-color: var(--color-button-hover);
}



/* 
  Rodapé: inicio da estilização rodapé. 
  Rodapé adicionado para fins de teste e aprendizado, esta fora do escopo dos requisitos originais do projeto!
  O objetivo é fixar o rodapé no final da tela, independente do tamanho e orientação da tela, e quantidade de nomes na lista.
*/
body{
  padding-bottom: 60px; /* Define um espaço para o rodapé */
}

footer {
  position: fixed;
  bottom: 0;
  
  width: 80%;
  background-color: #333;
  color: white;
  text-align: center;
  height: var(--height-footer);
}

.banner-container{
  margin-top: 6px;
}
.banner-container img {
  margin-left: 25px;
}

#linksProjetos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #c4c4c4;
  margin-top: 4px;
}

#linksProjetos a{
  color: #c4c4c4;
  /* background-color: #040116; */
  background-color: var(--color-primary);
  border-radius: 7px;
  font-size: 17px;
  width: 40%;
  padding: 8px 0;
}
/* Fim da estilização do rodapé */

/* O estiloa a baixo atribui maior responsividade à pagina */
@media (orientation: portrait) {
  .header-banner {
    flex-direction: column; /* Altera a direção do flex para coluna, de modo que o Titulo principal fique acima da imagem*/
  }
  .header-banner h1{
    text-align: center;
  }
  body{
    height: var(--height-body-portrait); /* Ajusta a altura do body para que o rodapé não esconda o botão "Sortear Amigo". */
  }

  .button-draw{
    width: 80%;
    margin: auto;
  }

  .banner-container img {
    height: 21px; /* altura do banner em portrait */
    width: 65px;
    /* width: 58px; */
    margin-left: 7px;
  }

  .can-be-hidden{
    display: none;
  }

  #linksProjetos a{
    font-size: 15px;
  }
}

@media ( (orientation: landscape) and (max-width: 1000px) ) {
  body {
    height: var(--height-body-landscape); /* Ajusta a altura do body para que o rodapé não esconda o botão "Sortear Amigo". */
  }
  .banner-container img {
    height: 25px; /* altura do banner em portrait */
    width: 70px;
    margin-left: 15px;
   }

   
}